[
    Ok(
        Token {
            span: SourceSpan {
                offset: SourceOffset(
                    0,
                ),
                length: SourceOffset(
                    27,
                ),
            },
            token_type: String(
                "bad escape: ->  <- here",
            ),
        },
    ),
    Err(
        UnknownEscape {
            character: '1',
            at: SourceSpan {
                offset: SourceOffset(
                    17,
                ),
                length: SourceOffset(
                    1,
                ),
            },
            source_code: SourceReference(
                SourceReferenceInner {
                    name: "errors-input.lox",
                    source: "\"bad escape: -> \\1 <- here\"\n\nunknown :\n\n\"unterminated",
                },
            ),
        },
    ),
    Ok(
        Token {
            span: SourceSpan {
                offset: SourceOffset(
                    29,
                ),
                length: SourceOffset(
                    7,
                ),
            },
            token_type: Identifier(
                "unknown",
            ),
        },
    ),
    Err(
        UnexpectedCharacter {
            character: ':',
            at: SourceOffset(
                37,
            ),
            source_code: SourceReference(
                SourceReferenceInner {
                    name: "errors-input.lox",
                    source: "\"bad escape: -> \\1 <- here\"\n\nunknown :\n\n\"unterminated",
                },
            ),
        },
    ),
    Ok(
        Token {
            span: SourceSpan {
                offset: SourceOffset(
                    40,
                ),
                length: SourceOffset(
                    13,
                ),
            },
            token_type: String(
                "unterminated",
            ),
        },
    ),
    Err(
        UnterminatedString {
            at: SourceSpan {
                offset: SourceOffset(
                    40,
                ),
                length: SourceOffset(
                    12,
                ),
            },
            source_code: SourceReference(
                SourceReferenceInner {
                    name: "errors-input.lox",
                    source: "\"bad escape: -> \\1 <- here\"\n\nunknown :\n\n\"unterminated",
                },
            ),
        },
    ),
]